
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 214, 214);
  }
  
  li {
    float: left;
    display: block;
    color: rgb(8, 7, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  * {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}
img {
  width: 100%
}
.fade {
  animation-name: fade;
  animation-duration:1000s;
}
@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header {
            background-color: #333;
            color: white;
            padding: 1em;
            font-size: 1.5em;
        }
        #courses-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .course-item {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }
        .course-item:hover {
            transform: scale(1.05);
        }
        .course-image {
            max-width: 100%;
            height: auto;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }
 footer {
          background-color: #92b2e2;
          padding: 5px;
          text-align: center;
      }
